<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina</title>
</head>
<body>
    <div class="container">
       <header>
        <h1>Bienvenido</h1>
        <h2>Sea usted Bienvenido</h2>
        <h3>Esperamos que su estancia en nuestra pagina sea de su completo agrado</h3>
       </header>

    </div>
</body>
</html>