<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sassy+Frass&display=swap" rel="stylesheet">
    <title>pagina</title>
</head>
<body>
    <div class="container">
        <nav><p class="login">Mi Aplicacion</p></nav>
        
        
       <header>
        <h1>Bienvenido</h1>
        <h2>Sea usted Bienvenido</h2>
        <h3>Esperamos que su estancia en nuestra pagina sea de su completo agrado</h3>
       </header>
       <img class="imgen" src="img/img1.jpg" alt="">

    </div>
</body>
</html>